@{
    ViewData["Title"] = "Home Page";
}

<

<link rel="stylesheet" href="~/css/style.css" />

<div class="text-center">
    <div class="login-form" style="margin-top: 100px">
        <h1>文件管理平台V0.1</h1>
        <div class="login-top">
            <form asp-action="Index" method="post">
                <div class="login-ic">
                    <i></i>
                    <input type="text" value="" name="User" placeholder="输入用户名" />
                    <div class="clear"></div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password" value="" name="Password" placeholder="输入登录口令" />
                    <div class="clear"></div>
                </div>
                <div class="log-bwn">
                    <input type="submit" value="登陆" id="dl">
                </div>
            </form>
        </div>
        <p class="copy"> <a href="#" target="_blank">  © 2021 **科技  </a></p>
    </div>
</div>
