<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZFileServer</title>

    <environment include="Development">
        <link rel="stylesheet" asp-href-include="css/*" asp-href-exclude="css/all.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" asp-href-include="all.min.css" />
    </environment>



    <!--弹窗组件引入-->
    @await Component.InvokeAsync("MessageBox", new { options = ViewBag.SystemMessageBoxInfo == null ? null : ViewBag.SystemMessageBoxInfo as ZFileServer.Domain.MessageBoxVO })
    <!--弹窗组件引入结束-->

    <link rel="stylesheet" href="/css/layui.css">
 
</head>
<body>
    <header>
      
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="./layui.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
